<h3>Greetings from Dashboard!!!🤗</h3>
<nav class="d-flex flex-row text-white justify-content-between align-items-center">
        
    <div class="logo">
            
        <img class="circle circle-sm" src="/images/dev front 14.jpg" height="" width=""></img>
            
    </div>

    <!-- navigation links -->
    <div class="nav d-flex flex-row">
            
                
        <a href="">Film</a>
                
        <a href="">Episodes</a>
                
        <a href="">Editorial</a>
                
        <a href="">Theater</a>
                
        <a href="">Add New Project</a>
            
    </div> 
        <!-- Logout Button -->
    <div class="logout">
        <button>Log out</button>
    </div>
</nav>