<section class="d-flex flex-row">
        
        <div class=" d-flex col-6-sm justify-content-end">
            <img class="main-image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Film/Film+Production/LooseEnds_MainImage.JPG">
        </div>
        <div class="description d-flex flex-column col-6-sm">
            <h2>
                Title of Program
            </h2>
            <div>
                Production Link:
            </div>
            <div>
                Production Type:
            </div>
            <div>
                Dates:
            </div>
            <div>
                Description:
            </div>
        </div> 
    </section>