    {{!-- main image plus descriptions --}}
    <section class="main-body d-flex flex-row align-items-center" style="padding-left: 10%;">
        <div class="main-image d-flex col-6-sm justify-content-end">
            <img src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_Main_Image.JPG">
        </div>

        {{>productioncard }}

    </section>

    {{!-- Related images --}}
    <div class="secondary-body">
        <div class="images d-flex flex-row justify-content-between">
            <img class="image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3727.JPG"></img>
            <img class="image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3716.JPG"></img>
            <img class="image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3689.jpg"></img>
            <img class="image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3683.jpg"></img>
        </div>
    </div>
    
    