<section class="d-flex justify-content-center" style="padding: 5%;">
    This is the homepage, please click on one of the tabs above to view Purple Minutes Style's work! We are still working on this feature of the website, we apologize for the inconvenience! 
</section>
<body>
    <div class="d-flex justify-content-center align-items-center">
        <img src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3727.JPG" style="height: 400px;">
    </div>
</body>