 <div class=" d-flex col-6-sm justify-content-end">
            <img class="main-image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Film/Film+Production/LooseEnds_MainImage.JPG">
        </div>
          {{>productioncard }}
    <section>
        <div class="images d-flex flex-row justify-content-between">
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3727.JPG"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3716.JPG"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3689.jpg"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Music/Music+Production/BTS_IMG_3683.jpg"></img>
        </div>
    </section>
    
