  <div class=" d-flex col-6-sm justify-content-end">
            <img class="main-image" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Episodes/Episodes+Production/LBJ_MainImage.jpg">
        </div>

          {{>productioncard }}
    <section>
        <div class="images d-flex flex-row justify-content-between">
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Episodes/Episodes+Production/LBJ_IMG_3013.jpg"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Film/Film+Production/LooseEnds_IMG_3903.jpg"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Film/Film+Production/LooseEnds_IMG_0018.jpg"></img>
            <img class="col-sm-2" src="https://purple-minutes-styling.s3.us-east-2.amazonaws.com/Film/Film+Production/LooseEnds_IMG_4006.jpg"></img>
        </div>
    </section>