{{!-- <h2>home sweet home!</h2> --}}

 <div class="bg">
    <div class="row">
    <div class="col-12">
    </div>
    <div class="col">
      
        <h1 class="home-sweet-home">Home Sweet Home</h1>
     
    </div>
 



  <div class="">
  <div class="">
    <div class="l">
      <div class="">
        <p class="">Don't have an account?</p>
        <p>Sign up to get started!</p>
        <button id="">SIGN UP</button>
      </div>
    </div>
    <div class="">
      <div class="">
        <p class="">Have an account?</p>
        <button id="">LOG IN</button>
      </div>
    </div>
  </div>
