<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/homestyle.css">

  <body>
	{{!-- <nav class="navbar navbar-dark fixed-top">
		<!-- Optional -->

		<a class="navbar-brand mx-auto" href="#"><img src="" alt=""></a>
	</nav> --}}
   {{!-- <nav class="navbar">
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/login">LogIn</a>
      <a href="/signup">SignUp</a>
      <a href="/logout">Logout</a>
    </nav> --}}
	<div class="video-background">
		<div class="video-wrap">
			<div id="video">
				<video id="bgvid" autoplay loop muted playsinline>
					<source src="https://backgroundoptions.s3.us-east-2.amazonaws.com/mountainHD.mp4" type="video/mp4">
					
				</video>
			</div>

		</div>
	</div>

	<div class="caption text-center">
		<h1>Hello!</h1>
		<h3>This is Purple Minutes Style!</h3>
		<a class="btn btn-outline-light btn-lg" href="/login">START HERE</a>

	</div>

  </body>
