
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">

    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="/assets/gabe-pierce-9QU_m5EwUCo-unsplash.jpg" class="img-fluid" alt="thriftstoreitem">
                    
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Hello there!</h1>
                    <h4> Sign into your account</h4>
                    <form class="login-form">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input id= "username-login" type="username" placeholder="username" class="form-control my-3 p-4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input id="password-login" type="password" placeholder="password" class="form-control my-3 p-4" autocomplete="on">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                        <p>Don't have an account?<a href="/signup">Register here</a></p>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <script src="/javascript/login.js"></script>
   
















{{!-- <form class="login-form">
<div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login"/>
</div>
<div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login"/>
</div>
<div>
    <button type="submit">login</button>
</div>
</form>

<div>
    <a href="/signup">sign up instead</a>
</div>

<script src="/javascript/login.js"></script> --}}




 




