
body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  
}

/* add nav bar */
/* .navbar{
  background: rgba(0, 0, 0, 0.3);
} */

.video-background {
  position: relative;
  width:100%;
  min-height: 100vh;
}

.caption{
  position: absolute;
  top: 38%;
  width:100%;
  color: white;
}

.caption h1{
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rm .1rem .5rem black;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;

}



 /* video  */


  .video-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #video {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
  }
  video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat; 
    background-size: cover;
    transition: 1s opacity;
  }


/* add breakpoints for

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

*/