/* Overrides original css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: mediumpurple;
    
}

nav img {
    border-radius: 50%;
    max-width: 50%;
    
}

/* Navigation */
nav {
    font-size: 30px;
    padding: 10px;
}

nav a {
    padding-left: 40px;
    
}

a {
    text-decoration: none;
    color: mediumpurple;
}

a:hover {
    text-decoration: none;
    color: mediumpurple;
}

/* Logout Button */
.logout {
    text-align: right;
}

button {
    background-color: mediumpurple;
    color: black;
    
}

button:focus {
    outline: none;
}

/* Main image */
.main-image {
    /* border-radius: 50%; */
    max-width: 50%;
    border: 6px solid black;
    text-align: left;
}

section {
    padding-top: 10%;
}

h2 {
    padding-left: 50%;
}